.ivory {
  width:280px;
  height:230px;
  border:12px solid #111111;
  outline: 2px solid #227063;
  outline-offset: 0px;
  margin:auto;
}
.vry {
  width: 278px;
  height: 210px;
  position: relative;
  padding-top: 18px;
  border: 1px solid #124038;  
}
.vry-lv1 {
  float: right;
  margin-top: 126px;
  text-align: justify;
  padding-right: 10px!important;
  padding: 43px;
}
.vry-lv {
  text-align: center;
  font-size: 28px;
  color: #f0f0f0;
  text-shadow: 1px 1px #227063;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-family: arial;
  font-weight: 900;
  transition: .5s;
}
.vry-lv1:hover .vry-lv {
  transition: .5s;
  text-shadow: 2px 2px #227060;
}
