.mmrslv {
  width: 340px;
  padding: 40px;
  background-color: #0a0a0a;
  border: 1px solid #0f0f0f;
  margin: 0 auto;
}
.ttllv {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 27px;
  letter-spacing: 0px;
  font-style: italic;
  font-weight: 550;
  color: #8f2424bf;
  text-transform: lowercase;
  padding-top: 20px;
}
.sbttllv {
  font: 'Trebuchet MS';
  text-align: center;
  font-size: 7.5px;
  letter-spacing: 1px;
  color: #a2a2a2;
  text-transform: uppercase;
  margin-top: 1px;
}
.txtlv {
  font: 12px 'Arial', sans-serif;
  text-align: justify; 
  padding: 12px; 
  color: #b5b5b5; 
  background-color: #0a0a0a;
  margin-top: 19px;
}
.txtlv strong {
  color: #8f2424bf!important;
}
