.bf1.livh {
  --color-acento: #8f2424bf;
  padding: 50px;
  font-family: Arial;
  font-size: 12px;
}
.bf1.livh strong {
  color: #8f2424bf;
}
.livptitle {
  color: #b3b3b3;
  font-family: freeroad;
  font-size: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  letter-spacing: -2px;
}
.livptitle i {
  color: var(--color-acento);
  font-weight: 800;
}
.bf1.livh .b32 {
  font-size: 8px;
  margin: 0px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid var(--color-acento);
}
.b32 span {
  font-size: 6px;
  color: #8f2424bf;
}
.bf1.livh .text33 {
  padding-top: 10px;
}
