.bckgrndsett {
  width: 340px;
  padding: 40px;
  background-color: #0a0a0a;
  margin: 0 auto;
} 

.ttlsett {
  font-family: 'Alegreya SC', serif;
  text-align: center; font-size: 32px;
  letter-spacing: -1px;
  font-weight: 550;
  text-transform: lowercase;
  color: #a2a2a2;
  padding-top: 20px;
}

.sbttlsett {
  font: "Calibri";
  text-align: center;
  font-size: 7.5px;
  letter-spacing: 1px;
  color: #a2a2a2;
  text-transform: uppercase;
  margin-top: 2px;
} 

.txtsm {
  font: 12px "Arial";
  text-align: justify;
  padding: 3px;
  color: #a2a2a2;
  background-color: #0a0a0a;
  margin-top: 20px;
}

.txtsm strong {
  color: #a79535 !important;
}
